.Navbar{
    display: flex;
    background:grey;
    width:100%;
    height: 60px;
    justify-content: space-around;
}

.HomePageHref{
    display: flex;
    width: 20%;
    text-decoration: none;
}

.HomePage{
    display: flex;
    justify-content: center;
    align-items: center;
    background:grey;
    color:lightgrey;
    width: 100%;
    text-decoration: none;
}

.HomePage:hover{
    color: white;
}

.NewsHref{
    display: flex;
    width:20%;
    text-decoration: none;
}

.news{
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    color:lightgrey;
    width: 100%;
}

.news:hover{
    color: white;
}

.LineChatbotHref{
    display: flex;
    width:20%;
    text-decoration: none;
}

.LineChatbot{
    display:flex;
    justify-content: center;
    align-items: center;
    background: grey;
    color: lightgrey;
    width: 100%;
    
}

.LineChatbot:hover{
    color: white;
}